.card {
  border-radius: 12px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
  outline: none;
  border: none;
  background-color: white;
  transition: box-shadow 0.3s ease-in-out;
  min-height: 70px;
  max-height: 100px;
}

.buttons {
  display: flex;
  gap: 10px;
}