[data-rsbs-overlay] {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

[data-rsbs-header="true"] {
  display: none;
}

[data-rsbs-footer="true"] {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

[data-rsbs-scroll="true"] {
  position: relative;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

[data-rsbs-content] {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
}
