.closeButton {
  position: fixed;
  top: 20px;
  right: 20px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  padding: 10px;
  background-color: rgb(255 254 254 / 65%);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.bottomSheet {
  width: 100%;
  height: 100%;
}

.footerWithoutBoxShadow > [data-rsbs-overlay] > [data-rsbs-footer] {
  box-shadow: unset;
}