:root {
  --color-white: #ffffff;
  --color-primary: #b89a6a;
  --color-secondary: #cbb089;
  --color-accent: #a07a4b;
  --color-background: #f5eedc;
  --color-light: #f3ecd7;
  --color-extra-light: #f9f6ee;
  --color-dark: #6b4c36;
  --font-family: "Noto Sans", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: var(--font-family);
}