.button {
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  outline: none;
  height: fit-content;
  width: fit-content;
  text-decoration: none;
  cursor: pointer;
}

.disabled {
  background-color: gray;
  opacity: 0.5;
  color: var(--color-white);
  cursor: not-allowed;
  pointer-events: none;
}

.primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.secondary {
  background-color: var(--color-dark);
  color: var(--color-white);
}

.tertiary {
  background-color: transparent;
  color: var(--color-dark);
}

.outline {
  background-color: transparent;
  color: var(--color-dark);
  border: 1px solid var(--color-dark);
}

.stretched {
  width: 100%;
}

.small {
  padding: 8px;
}

.medium {
  padding: 12px 24px;
}

.large {
  padding: 16px 32px;
}

.none {
  padding: 0;
}

.boxShadow {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
}

.wrapper {
  position: relative;
}

.beforeIcon {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.afterIcon {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.alignCenter {
  align-items: center;
}

.alignStart {
  align-items: flex-start;
}

.alignEnd {
  align-items: flex-end;
}
