.select {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  box-sizing: border-box;
  height: 48px;
  background-color: var(--color-white);
  font-size: 16px;
}

.placeholderColor {
  color: gray;
}

.label {
  font-size: 12px;
  font-weight: 500;
  color: gray;
}

.selectWrapper {
  display: flex;
  flex-direction: column;
}
