.select {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  box-sizing: border-box;
  height: 48px;
  background-color: var(--color-white);
}

.placeholderColor {
  color: gray;
}
