.input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  height: 48px;
  box-sizing: border-box;
}

.label {
  font-size: 12px;
  font-weight: 500;
  color: gray;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
}

.error {
  border: 1px solid red;
}
