.stepsWrapper {
  display: flex;
  width: 400%; /* 4 шага по 100% */
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: transform;
}

.step {
  width: 25%; /* каждый шаг занимает четверть контейнера */
  flex-shrink: 0;
}

/* Смещения для каждого шага */
.slide1 {
  transform: translateX(0%);
}
.slide2 {
  transform: translateX(-25%);
}
.slide3 {
  transform: translateX(-50%);
}
.slide4 {
  transform: translateX(-75%);
}

.stepCommon {
  width: 100vw;
  padding: 16px;
  box-sizing: border-box;
}

.stepCommonBody {
  height: min-content;
}

.flexStepSelector {
  flex: 1;
}

.loader {
  height: 75vh;
}
