.container {
  padding: 16px;
  box-sizing: border-box;
}

.resetButton {
  margin-top: 15px;
  flex: 1;
}

.select {
  flex: 3.5;
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
}

.fadeEnter {
  opacity: 0;
  transform: translateY(10px);
}

.fadeEnterActive {
  opacity: 1;
  transform: translateY(0);
  transition: all 300ms ease;
}

.fadeExit {
  opacity: 1;
  transform: translateY(0);
}

.fadeExitActive {
  opacity: 0;
  transform: translateY(10px);
  transition: all 300ms ease;
}
