.segmentButton {
  border-radius: 0;
  border: none;
  transition: all 0.3s ease;
  border: 1px solid #e0e0e0 !important;
}

.segment {
  border-radius: 8px;
  overflow: hidden;
  box-sizing: border-box;
}

.segmentButton:first-child {
  border-radius: 8px 0 0 8px;
}

.segmentButton:last-child {
  border-radius: 0 8px 8px 0;
}

.selected {
  transition: all 0.3s ease;
}
